<div class="row-fluid fullheight">
  <div class="span10 fullheight">
    <div id="map-canvas"></div>
  </div>
  <div class="span2 fullheight">
    <div class="row-fluid alert-controls">
      <div class="span12">
        <button class="btn" ng-click="addWorker()"><i class="icon-male"></i> Worker</button>
        <button class="btn" ng-click="addFire()"><i class="icon-fire"></i> Fire</button>
        <button class="btn" ng-click="addMedical()"><i class="icon-plus-sign-alt"></i> Medical</button>
        <button class="btn" ng-click="addPolice()"><i class="icon-group"></i> Fight</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2 alert-container">
        <h4>Alerts</h4>
        <dl ng-repeat="alert in alerts" ng-click="showAlert(alert)">
          <dt><img ng-src="{{alert.type.image}}" /> Alert - Today 19:30</dt>
          <dd>{{alert.description}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
