$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$FontAwesomePath: "../bower_components/font-awesome/font";

@import "bootstrap-sass/lib/bootstrap";
@import "font-awesome/scss/font-awesome";

html, body, .fullheight {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 100%;
  img {
    max-width: inherit;
  }
}
.alert-container {
  overflow-y: auto;
  position: fixed;
  height: 100%;
  top: 0;
  padding-right: 10px;
  dl {
    padding: 8px;
    margin: 0 0 0 -10px;
    border-bottom: 1px solid #DDD;
    &:hover {
      cursor: pointer;
      background-color: #F5F5F5;
    }
  }
}
.alert-controls {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

i.icon-medical  { @extend .icon-plus-sign-alt }
i.icon-fight    { @extend .icon-group }
