.button-block i {
  padding-right: 5px;
}
.pending {
  text-align: center;
}
.loading {
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}
.loading h1 {
  padding-top: 100px;
}
.loading i {
  font-size: 250%;
}
